## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd
data = [4, 8, 15, 16, 23,  42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data:

In [4]:
import pandas as pd
data1 = {
    'Name': ['Alice' ,'Bob', 'Claire'],
    'Age': [25 , 30 , 27 ],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data1)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

### In pandas, a DataFrame is a two-dimensional labeled data structure that can store data of different types (e.g., numbers, strings, booleans) in columns. It is similar to a table or spreadsheet, where each column represents a variable, and each row represents an observation.

### A DataFrame is composed of one or more Series objects, where each Series represents a single column within the DataFrame. In other words, a DataFrame is a collection of Series that share a common index.

##Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some common functions you can use:

1. `head()` and `tail()`: These functions allow you to view the first few rows (`head()`) or the last few rows (`tail()`) of a DataFrame. They are useful for quickly inspecting the structure and content of a DataFrame.

2. `info()`: This function provides a concise summary of the DataFrame, including the number of rows and columns, column names, data types, and memory usage. It helps in understanding the overall structure of the DataFrame.

3. `describe()`: This function generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartile values. It provides insights into the distribution and summary statistics of the data.

4. `sort_values()`: This function allows you to sort the DataFrame based on one or more columns. You can specify the column(s) to sort by and whether to sort in ascending or descending order. It is helpful when you want to order the data based on certain criteria.

5. `drop()`: This function allows you to remove specific rows or columns from the DataFrame. You can specify the labels of the rows or columns you want to drop, along with the axis parameter (0 for rows, 1 for columns). It is useful for excluding irrelevant or duplicate data.

6. `fillna()`: This function helps in filling missing values in the DataFrame with a specified value or a method such as forward-fill or backward-fill. It enables you to handle missing data and ensure the integrity of the analysis.

7. `groupby()`: This function enables grouping of data based on one or more columns, allowing you to perform aggregation operations on subsets of the data. You can apply functions like sum, mean, count, etc., to the grouped data.

8. `merge()`: This function allows you to combine multiple DataFrames based on common columns or indices. It is useful when you need to join or merge data from different sources or perform relational database-like operations.

.

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, both Series and DataFrame are mutable in nature, meaning their values can be modified after creation. However, Panel is not mutable.

A Series represents a one-dimensional array-like object with an index and can be modified by assigning new values to specific indices or by using various methods provided by Pandas, such as `loc` or `at`.

Similarly, a DataFrame represents a two-dimensional tabular data structure with labeled axes (rows and columns). You can modify the values in a DataFrame by assigning new values to specific cells, adding or removing columns, or using DataFrame methods like `loc`, `at`, `iloc`, or `iat`.

On the other hand, Panel is a three-dimensional data structure that is less commonly used compared to Series and DataFrame. Panels are mutable up to Pandas version 0.20.0, but they have been deprecated since then, and the recommended way to work with three-dimensional data is to use the MultiIndex functionality within a DataFrame.

In summary, Series and DataFrame are mutable, allowing modifications to their values and structure, while Panel is not recommended for use and is not mutable.

## Q7. Create a DataFrame using multiple Series. Explain with an example.

Certainly! You can create a DataFrame using multiple Series by combining them together. Each Series represents a column in the DataFrame, and they should have the same length to align properly. Here's an example:

In [6]:
import pandas as pd

# Creating Series
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Creating DataFrame
data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In the example above, we first create three separate Series: name_series, age_series, and gender_series, representing the 'Name', 'Age', and 'Gender' columns, respectively.

Then, we create a dictionary called data where each key corresponds to the column name, and the corresponding value is the respective Series.

Finally, we use the pd.DataFrame() function and pass the data dictionary to create the DataFrame df, which combines the Series into a tabular structure.

The resulting DataFrame contains three columns: 'Name', 'Age', and 'Gender', with the values from the respective Series.

Note that the Series should have the same length, or else the DataFrame creation might result in an error or introduce missing values.